<html>
    <head>
        <title>
            <%= locals.title%>
        </title>
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/CSS/home.css">
        
    </head>
    <body>
<h1 id="heading-p">
    <i class="fas fa-address-book"></i>
    My Contact List</h1>
        <div id="contacts-list-container">
            <ul>
                   
                <% for (let i of contact_list) { %> 
                     
                    <li class="contact">
                       <div class ="details">
                        <p><%= i.name %></p>
                        <p><%= i.phone %></p>

                  
                        <a href="/delete-contact/?phone=<%= i.phone %>">
                                <i class="fas fa-window-close" 
                                style="color: brown;
                               margin-left: 10px;
                                "></i>

                        </a>

                       </div>
                        
                    </li>
                    
                <% } %>
            </ul>
        </div>

<form  class = "new-contact-form" action="/create-contact" method="POST">
<h2 style="margin-left:20%;">Enter Contact Details</h2>
    <input required type="text" name="name" placeholder="Enter Name">
    <input required type="number" name ="phone" placeholder="Enter Phone" style="margin-left: 50px;">

    <button type="submit">Add</button>
</form>

<script type="text/javascript" src="/js/home.js"></script>
<script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>

    </body>
</html>